/* ========================== CSS Reset ========================== */
* {
	border: 0 none;	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 1px;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

/* ========================== General Styles ========================== */
body {	
        color: #616161;
}

.wrap {
	margin: 0 auto;
	width: 61.3%;
        max-width: 965px;
        min-width: 740px;
        background-color: #F8F8F8;
        -webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
}


h4 {
    font-size: 18px;
    color: #656a70;
    font-weight: bold;
    text-shadow: 0px 1px 0px #fff;
}

a{
   margin: 0;
   text-decoration: none;
}
/* ========================== header ========================== */
#header {
    height: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 350px;
}

#header h1 {
    text-align: center;
    padding: 2%;
    color: #656a70;
    font-size: 26px;
    margin-bottom: 0;
    text-shadow: 0px -1px 0px #fff;
    
}
.gap {
    margin-top: 15px;
}
/* ========================== featured_area ========================== */



#featured_area .wrap {
    overflow: hidden;
    position: relative;
}

.featured_form {
    float: right;
    width: 51%;
    min-width: 398px;
    max-width: 465px;
    padding-left: 1%;
    height: 290px;
    margin: 10px 0 10px 0;
}

#signupform {    
    height: auto;
    width: 96%;  
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 105;
    -webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
        box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
}

#autorizform {    
    padding-top: 1%;
}

#signupform > div {
    margin: 20px;
}

label {
    font-size: 12px;
    line-height: 33px;
    color: #959595;
    text-shadow: 0px -1px 0px #fff;
    margin-left: 3%;
    text-align: left;
    font-weight: bold;
}

input {
    height: 33px;
    color: #959595;
    font-size: 12px;
    font-weight: bold;
    padding-left: 2%;
    margin-right: 5%;
    line-height: 1.5em;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#autorizform input{
    height: 33px;
    color: #959595;
    font-size: 12px;
    font-weight: bold;
    padding-left: 2%;
    margin-right: 5%;
    line-height: 1.5em;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#signupform select{
    height: 33px;
    color: #959595;
    font-size: 12px;
    font-weight: bold;
    padding-left: 2%;
    margin-right: 5%;
    line-height: 1.5em;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
#autError{
    color: red;
}
.submit {
    color: #fff;
    font-size: 17px;
    padding: 10px 16px;
    line-height: 1.33;
    display: inline-block;
    margin-top: 4%;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    margin-right: 7%;
}

.featured_text {
    position: absolute;
    width: 43%;
    top: 30px;
    margin-left: 20px;
    
}

#featured_area h2 {
    color: #656a70;
    font-size: 26px;
    margin-bottom: 0;
    text-shadow: 0px -1px 0px #fff;
}

#featured_area p {
    font-size: 12px;
    margin-bottom: 0;
    text-shadow: 0px -1px 0px #fff;
    line-height: 1.5em;
    padding-top: 10px;
}
.featured_text h4 {
    margin-top: 20px;
}
/* ========================== catalogs ========================== */
table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}

th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}
.featured_buttons{
    padding-bottom: 20px;
    margin-left: 15px;
}

/* ========================== modalDialog ========================== */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/* ========================== footer ========================== */
.prefooter {
    margin: 0 auto;
    width: 61.3%;
    min-height: 500px;
    padding-bottom: 0px;
}

.footer {
    background-color: #eff0f1;    
    z-index: 1000;
    border-top: 3px solid #e9e9e9;
    text-align: center;
    margin: 0;
    height:40px;
    display: block;
}



@media all {
    .lightbox { display: none; }
    .fl-page h1,
    .fl-page h3,
    .fl-page h4 {
            font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 100;
            letter-spacing: 1px;
    }
    .fl-page h1 { font-size: 110px; margin-bottom: 0.5em; }
    .fl-page h1 i { font-style: normal; color: #ddd; }
    .fl-page h1 span { font-size: 30px; color: #333;}
    .fl-page h3 { text-align: right; }
    .fl-page h3 { font-size: 15px; }
    .fl-page h4 { font-size: 2em; }
    .fl-page .jumbotron { margin-top: 2em; }
    .fl-page .doc { margin: 2em 0;}
    .fl-page .btn-download { float: right; }
    .fl-page .btn-default { vertical-align: bottom; }

    .fl-page .btn-lg span { font-size: 0.7em; }
    .fl-page .footer { margin-top: 3em; color: #aaa; font-size: 0.9em;}
    .fl-page .footer a { color: #999; text-decoration: none; margin-right: 0.75em;}
    .fl-page .github { margin: 2em 0; }
    .fl-page .github a { vertical-align: top; }
    .fl-page .marketing a { color: #999; }

    /* override default feather style... */
    .fixwidth {
            background: rgba(256,256,256, 0.8);
    }
    .fixwidth .featherlight-content {
            width: 500px;
            padding: 25px;
            color: #fff;
            background: #111;
    }
    .fixwidth .featherlight-close {
            color: #fff;
            background: #333;
    }
}
@media(max-width: 768px){
    .fl-page h1 span { display: block; }
    .fl-page .btn-download { float: none; margin-bottom: 1em; }
}
#galleryOutput img{
    width: 150px;
    height: 150px;
}

@media (max-width: 600px) {
    .wrap {
        width: 100%;
        max-width: 450px;
        min-width: 350px;
    }
    #header {
        height: 130px;
        text-align: center;
    }
 
    #featured_area .wrap {
        overflow: hidden;
    }
    .featured_form,  .featured_text{
        width: 100%; 
        max-width: 400px;
        min-width: 350px;  
    }
    .featured_form {
        float: none;
        margin: 0 auto;
        padding-left: 0%;
        padding-top: 15px;
        background: none;
        height: 190px;
    }
    #signupform {
        margin: 0;
        width: 100%;
    }
     
    #signupform h4, span{
        margin-left: 2%;
        font-size: 15px;
    }
    
    .featured_text {
        position: relative;       
        top: 0px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;      
    }
    
    .featured_text .featured_text h4 {
        margin-top: 20px;  
        text-align: left;
    }
}