/* ========================== CSS Reset ========================== */
* {
	border: 0 none;	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 2px;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

/* ========================== General Styles ========================== */
body {	
        color: #616161;
}

.wrap {
	margin: 0 auto;
	width: 61.3%;
        max-width: 965px;
        min-width: 740px;
}

ul {
    list-style: none;
}

.callnow, p, li {
    color: #616161;
    font-size: 12px;
    line-height: 1.5em;
    font-style: italic;
}

h4 {
    font-size: 18px;
    color: #656a70;
    font-weight: bold;
    text-shadow: 0px 1px 0px #fff;
}
/* ========================== header ========================== */
#header {
    height: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: url("../images/featured-area-bg.png") 
}

#logo {
    font-family: 'faberlic';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    float: left;
    font-size: 54px;
    color: #d60058;
    text-decoration: none;
    margin-left: 30px;
}

#header img, #header h1 {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    vertical-align: middle;
    border: 0;
    border-color: #d60058;
}

.phone img {
    height: auto;
    width: 100%;
}

#header .phone {
    float: right;
    margin-top: 1px;
}
#header .sellerdata {
    float: right;
    height: 54px;
    width: 220px;
}

#header .sellerdata h4 {
    
    margin: 0;
    margin-right: 7%;
    float: right;
}

#phone_number {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 2;   
    color: #616161;
    font-size: 24px;
    text-decoration: none;
    float: right;
    margin-right: 7%;
}

.callnow {
    color: #616161;
    font-size: 12px;
    line-height: 1.5em;
    font-style: italic;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
/* ========================== featured_area ========================== */

#featured_area {
    padding: 15px 0;
}

#featured_area .wrap {
    background: url("../images/featured-area-bg.png")  top left;   
   
    overflow: hidden;
    position: relative;
}

.featured_form {
    float: right;
    width: 51%;
    margin-top: 20px;
    background: transparent url(../images/ver_divider.png) center left repeat-y;   
    min-width: 398px;
    max-width: 465px;
    padding-left: 1%;
}

#signupform {    
    height: auto;
    width: 96%;  
    margin: 0 auto;    
    background-color: #eff0f1;
    border: 1px solid #e9e9e9;    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-bottom: 20px;
    z-index: 105;
}

#signupform h4{
    margin-left: 5%;
    margin-top: 5%;
}

#signupform span{
    font-size: 24px;
    color: #d60058;
}

#signupform > div {
    margin-bottom: 10px;
}

.form_input_first { 
    padding-top: -10px;
    background: url("../images/form_divider.png") repeat-x bottom;
    padding-bottom: 10px;
}
.form_input {  
    padding-top: -10px;
    background: url("../images/form_divider.png") repeat-x bottom;
    padding-bottom: 10px;
}
.form_input_last {
    margin-top: 0px;
}

label {
    font-size: 12px;
    line-height: 33px;
    color: #959595;
    text-shadow: 0px -1px 0px #fff;
    margin-left: 3%;
    text-align: left;
    font-weight: bold;
}

#signupform input {
    float: right;
    background: url("../images/feat_form_input.png") no-repeat top left;
    height: 33px;
    color: #959595;
    font-size: 12px;
    font-weight: bold;
    padding-left: 2%;
    margin-right: 5%;
    line-height: 1.5em;
    width: 65%
}

#signupform #submit {
    background-color: #d60058;
    border-color: #de5984;
    color: #fff;
    font-size: 17px;
    padding: 10px 16px;
    line-height: 1.33;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    float: right;
    margin-right: 7%;
}

.featured_text {
    position: absolute;
    width: 43%;
    top: 30px;
    margin-left: 20px;
    
}

#featured_area h2 {
    color: #656a70;
    font-size: 26px;
    margin-bottom: 0;
    text-shadow: 0px -1px 0px #fff;
}

#featured_area p {
    color: #616161;
    font-size: 12px;
    margin-bottom: 0;
    text-shadow: 0px -1px 0px #fff;
    line-height: 1.5em;
    padding-top: 20px;
}
.featured_text h4 {
    margin-top: 20px;
}
.featured_text ul#features {
    margin-top: 20px;
}

.featured_text ul#features li {
    color: #616161;
    text-shadow: 0px -1px 0px #fff;
    line-height: 1.5em;
    background: url("../images/checklist.png") no-repeat 0% 3px;
    padding-left: 25px;
}
/* ========================== catalogs ========================== */
.catalog {
    background: url("../images/featured-area-bg.png") no-repeat top left;
    margin-bottom: 20px;
    overflow: hidden;
}

.catalog img {
    margin: 10px;
    height: 150px;
    width: 150px;
    float: left;
}
.catalog p {
   margin-top: 1%; 
   margin-right: 2%;
   margin-left: 10px;
   margin-bottom: 10px;
}
.catalog h4 {
    margin-top: 1%;
}

.catalog span {
    color: #d60058;
    font-size: 14px;
}

#answer{
    color: #d60058;
    font-size: 17px;  
    text-shadow: 0px -1px 0px #fff;
    line-height:1.5em;
    padding-top: 20px;
    line-height: 1.5em;
    font-style: italic;
    float: left;
    z-index: 100;
}

/* ========================== footer ========================== */
.prefooter {
    height: 65px;
    margin-bottom: 20px;
}

.footer {
    background-color: #eff0f1;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    border-top: 3px solid #e9e9e9;
    text-align: center;
}
.footer p {
    
    margin-bottom: 20px;
}
/* ========================== #errorWindow ========================== */
#errorWindow:before{
    background-color: #fff;
    content: "";
    height: 8px;
    right: 5%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: -1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
    border: 1px solid transparent;
    border-left-color: #ddd;
    border-top-color: #ddd;
}

#errorWindow {
    width: 200px;
    height: 30px;
    border: 1px solid transparent;
    border-color: #ddd;
    background: #fff;
    position: absolute;
    display: none;
    opacity: 0;
    z-index: 2000;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-left: 3px;
    border-radius: 2px;
}
#errorWindow span {
    margin: 6px 10px;
    color: #333;
    font-size: 13px;
}
/* ========================== lightbox ========================== */

@media all {
    .lightbox { display: none; }
    .fl-page h1,
    .fl-page h3,
    .fl-page h4 {
            font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 100;
            letter-spacing: 1px;
    }
    .fl-page h1 { font-size: 110px; margin-bottom: 0.5em; }
    .fl-page h1 i { font-style: normal; color: #ddd; }
    .fl-page h1 span { font-size: 30px; color: #333;}
    .fl-page h3 { text-align: right; }
    .fl-page h3 { font-size: 15px; }
    .fl-page h4 { font-size: 2em; }
    .fl-page .jumbotron { margin-top: 2em; }
    .fl-page .doc { margin: 2em 0;}
    .fl-page .btn-download { float: right; }
    .fl-page .btn-default { vertical-align: bottom; }

    .fl-page .btn-lg span { font-size: 0.7em; }
    .fl-page .footer { margin-top: 3em; color: #aaa; font-size: 0.9em;}
    .fl-page .footer a { color: #999; text-decoration: none; margin-right: 0.75em;}
    .fl-page .github { margin: 2em 0; }
    .fl-page .github a { vertical-align: top; }
    .fl-page .marketing a { color: #999; }

    /* override default feather style... */
    .fixwidth {
            background: rgba(256,256,256, 0.8);
    }
    .fixwidth .featherlight-content {
            width: 500px;
            padding: 25px;
            color: #fff;
            background: #111;
    }
    .fixwidth .featherlight-close {
            color: #fff;
            background: #333;
    }
}
@media(max-width: 768px){
    .fl-page h1 span { display: block; }
    .fl-page .btn-download { float: none; margin-bottom: 1em; }
}
#galleryOutput img{
    width: 150px;
    height: 150px;
}

@media (max-width: 600px) {
    .wrap {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        min-width: 350px;
    }
    #header {
        height: 130px;
        text-align: center;
    }
    #header img{
        position:  absolute;
        right: 10px;
        top: 10px;
    }
    #logo {       
        margin-left: 0%;
        float: none;
    }
    
    #header .sellerdata {
        width: 100%;
        padding-top: 10px;
        float: bottom;
        text-align: center;
    }

    #header .sellerdata h4 {      
       float: none;
       margin-left: 15px;
    }

    #phone_number {          
        float: none;
        margin-left: 15px;
    }

    .callnow {
       margin: 0; 
       margin-right: 50px;
    }
    #featured_area .wrap {           
        
        overflow: hidden;
    }
    
    
    .featured_form,  .featured_text{
        width: 100%; 
        max-width: 400px;
        min-width: 350px;  
    }
    .featured_form {
        float: none;
        margin: 0 auto;
        padding-left: 0%;
        padding-top: 15px;
        background: none;
    }
    #signupform {
        margin: 0;
        width: 100%;
    }
     
    #signupform h4, span{
        
        margin-left: 2%;
        margin-top: 5%;
        font-size: 15px;
    }
    
    .featured_text {
        position: relative;       
        top: 0px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;      
    }
    
    .featured_text ul#features, .featured_text h4 {
        margin-top: 20px;  
        text-align: left;
    }
    .featured_text p {        
        
    }
    
}